$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower



/* Informs user of unsupported browser */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  background-image: url("../images/checkered-red-black.png");
}



// All navigational elements
#navibar {
  background: #ff0101;
  font-size: 30px;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;

  button {
    height: 100%;
    background: none;
    border: none;
    padding: 0;
  }
  a {
    color: black;
    img {
      height: 40px;
    }
  }

  button:hover {
  a {
    text-decoration: none;
    color: #ff0101;
  }
    background-color: black;
  }

  .navi-social, .navi-logo, .navi-links {
    height: 100%;
    display: block;
    margin: 0;
    height: 80px;
    padding-top: 20px;
    padding-right: auto;
    padding-left: auto;
    text-align: center;
    padding: 0;
  }
}

#ln-img {
  height: 100%;
  background: no-repeat center  url("../images/LN-black.png");
}

#ln-img:hover {
  height: 100%;
  background: no-repeat center url("../images/LN-red.png");
}

#gh-img {
  height: 100%;
  background: no-repeat center url("../images/GH-black.png");
}

#gh-img:hover {
  height: 100%;
  background: no-repeat center url("../images/GH-red.png");
}

#tw-img {
  height: 40px;
  width: auto;
  background: no-repeat center url("../images/TW-black.png");
}

#tw-img:hover {
  height: 100%;
  background: no-repeat center url("../images/TW-red.png");
}



// All elements for main container
#main-container {
  margin-top: 90px;
  // width: 100%;
  color: white;
  a {
    color: #ff0101;
  }
  a:hover {
    font-weight: bold;
    text-decoration: none;
  }
}

@media only screen and (max-width: 768px) {
  #main-container {
    margin-top: 130px;
  }
  #navibar{
  height: 120px;
    .navi {
      height: 60px;
    }
  }
  .navi-social, .navi-logo, .navi-links {
    z-index: 120;
    height: 100%;
    display: block;
    margin: 0;
    height: 60px;

    text-align: center;
    padding: 0;
  }
}


// Textbox codes for main displays
// Main div sizing
.weather-div, .vball-div, .analytics-div, .flickr-div, .bio-div, .profile-div {
  min-height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  .textbox {
    h2 {
      text-align: center;
    }
    border: 10px;
    border-radius: 25px;
    padding: 10px;
    margin: 5% auto;
    color: white;
    background-color:rgba(0,0,0,0.8);
    min-height: 10%;
    width: 70%;
  }
}

.capstone-div, .capstone-slide{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  .textbox {
    h2 {
      text-align: center;
    }
    border: 10px;
    border-radius: 25px;
    padding: 10px;
    margin: 5% auto;
    color: white;
    background-color:rgba(0,0,0,0.8);
    min-height: 10%;
    width: 70%;
  }
}

.bio-div {
    background-image: url("../images/rainier-pic.jpg");
    .textbox {
      border: 0px;
      border-radius: 25px;
      padding: 10px 20px;
      margin: auto;
      margin-top: 15%;
      color: white;
      background-color:rgba(0,0,0,0.8);
      width: 70%;
    }

}

// Hide profile image at smaller sizes
@media only screen and (max-width: 992px) {
  .profile-div {
    display: none;
  }
}

.profile-div {
  background-image: url("../images/Profile-img.jpg");
  background-position: top left;
}

#capstone {
  margin: auto auto;
  width: 100%;
  img {
    width: 100%;
    max-height: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}

.weather-div {
  background-image: url("../images/caps/weather-app-cap.png");
}

.vball-div {
  background-image: url("../images/caps/volleyball-cap.png");
}

.analytics-div {
  background-image: url("../images/caps/analytics-cap.png");
}

.flickr-div {
  background-image: url("../images/caps/flickr-cap.png");
}
