  <div class="home-wrap">
    <div class="container">
      <div class="col-xs-12 capstone-div">
        <div class="textbox col-4">
          capstone column
        </div>
      </div>
    </div>
    <div class="container">
      <div class="col-md-6 col-sm-12 col-xs-12 weather-div">
        <div class="textbox col-4">
          weather column
        </div>
      </div>

      <div class="col-md-6 col-sm-12 col-xs-12 vball-div">
        <div class="textbox col-4">
          vball column
        </div>
      </div>

      <div class="col-md-6 col-sm-12 col-xs-12 analytics-div">
        <div class="textbox col-4">
          analytics column
        </div>
      </div>

      <div class="col-md-6 col-sm-12 col-xs-12 flickr-div">
        <div class="textbox col-4">
          flickr column
        </div>
      </div>


    </div>
  </div>
