<div class="home-wrap">

  <div class="container">
    <div class="col-xs-12 bio-div">
      <div class="textbox col-4">
        <p><a href="lvpoel.me/we"><h3>About me</h3></a>
        </p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="col-xs-12 capstone-div">
      <div class="textbox col-4">
        <p><a href="lvpoel.me/we"><h3>My Capstone</h3></a>
        </p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="col-md-6 col-sm-12 col-xs-12 weather-div">
      <div class="textbox col-4">
        <p><a href="lvpoel.me/we"><h3>Weather App Demo</h3></a>
        </p>
      </div>
    </div>

    <div class="col-md-6 col-sm-12 col-xs-12 vball-div">
      <div class="textbox col-4">
        <p><a href="lvpoel.me/we"><h3>Volleyball Page Design Demo</h3></a>
        </p>
      </div>
    </div>

    <div class="col-md-6 col-sm-12 col-xs-12 analytics-div">
      <div class="textbox col-4">
        <p><a href="lvpoel.me/we"><h3>User Science Journal</h3></a>
        </p>
      </div>
    </div>

    <div class="col-md-6 col-sm-12 col-xs-12 flickr-div">
      <div class="textbox col-4">
        <p><a href="lvpoel.me/we"><h3>Flickr API Consumption Demo</h3></a>
        </p>
      </div>
    </div>


  </div>
</div>
